#containeD {
	display: grid;
}

img {
	width: 100%;
  	height: 100%;
	justify-content: cover;
}

body {
	background: black;
}


.containeD-containeR {
	height: 280px;
	width: 900px;
	margin-top: 50px;
	margin-left: 20px;
	background-color: pink;
}

.containeD-trigger {
	position: relative;
	z-index: 1;

	width: 200px;
	height: 200px;
	border: 10px solid #fff;
	background: : #ddd;
	float: left;
	margin: 10px; 
}

.containeD-box1, .containeD-box2, .containeD-box3, .containeD-box4 {
	position: absolute;
	top: 0;
    left: 0;
    overflow: hidden;

	display: inline-block;
	background: orange;
	width: 180px;
	height: 180px;
	/*transition: transform 300ms ease-in-out;*/
	border: 1px solid magenta;
	pointer-events: none; /*pointer-events says: don't register and hovers or clicks on this element. if you move your mouse on the pink box, it will not register that and the box will close.*/
	/* you put the transition on the box that is looking for a change in the property */
}


.containeD-containeR-dynamic {
	height: 900px;
	width: 900px;
	margin-top: 50px;
	margin-left: 20px;
	background-color: pink;
}

.containeD-dynamic-trigger-card {
	width: 240px;
	height: 367px;
	border: 1px solid #5f9;
	margin-left: 11px;
	margin-top: 68px;
	position: relative;
	float: left;
}

.containeD-dynamic-card {
	width: 220px;
	height: 50px;
	border: 1px solid #5f9;
	margin: 8px;
}

.containeD-slideshow-card {
	/*position: relative;*/
	/*z-index: 1;*/

	/*margin: 100px;*/
	background-color: white;
	margin-left: 40px;
	height: 300px;
	width: 220px;
	border: 1px solid black;
	float:left;
}

.containeD-slideshow-img {
	position: absolute;
	/*top: 0;*/
    /*left: 0;*/
    overflow: hidden;
    
	margin: 10px;
	height: 200px;
	width: 200px;
}


.code-container {
	height: 280px;
	width: 450px;
	margin-top: 50px;
	margin-right: 20px;
	background-color: pink;
	float: right;
}

.containeD-slideshow-containeR {
	height: 400px;
	width: 900px;
	margin-top: 50px;
	margin-left: 20px;
	background-color: pink;
}

.containeD-slideshow-h1 {
	font-size: 18px;
	margin-top: 220px;
	margin-left: 10px;
}

.containeD-slideshow-p {
	margin-left: 10px;
}





