.textP {
	font-size: 18px;
	text-align: center;
	margin-top: 10px;
	color: white;
}

.containeD-trigger {
	background-color: black;
}

.containeD-containeR {
	background-color: black;
	margin-left: 250px;
}

.containeD-containeR-dynamic {
	height: 1600px;
	background-color: black;
	margin-left:310px;
}

.containeD-slideshow-containeR {
	background-color: black;
	margin-left: 280px;
}

.containeD-dynamic-card {
	height: 300px;
	width: 220px;
}

.containeD-dynamic-trigger-card {
	margin-left: 10px;
}

.textP2 {
	font-size: 18px;
	text-align: center;
	margin-top: 10px;
	color: pink;
}

.containeD-slideshow-card {
	margin-top: 100px;
	margin-bottom: 50px;
}